<form method="post" action=""  onsubmit="return validateform()">
    <div class="mb-4">
      <label class="form-label">Coupon Name</label>
      <input name="couponName" type="text" class="form-control" placeholder="Enter offer name" id="couponName" required />
      <span id="errorCouponName" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Description</label>
      <textarea name="couponDescription" class="form-control" id="couponDescription" placeholder="Enter description"></textarea>
      <span id="errorCouponDescription" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Coupon Code</label>
      <input name="couponCode" type="text" class="form-control" placeholder="Enter coupon code" id="couponCode" required />
      <span id="errorCouponCode" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Discount Percentage</label>
      <input name="couponDiscount" type="number" class="form-control" placeholder="Enter discount percentage" id="couponDiscount" required />
      <span id="errorCouponDiscount" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Max Amount</label>
      <input name="maxAmount" type="number" class="form-control" placeholder="Enter maximum discount amount" id="maxAmount" required />
      <span id="errorMaxAmount" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Min Amount</label>
      <input name="minAmount" type="number" class="form-control" placeholder="Enter minimum purchase amount" id="minAmount" required />
      <span id="errorMinAmount" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Coupon Status</label>
      <select name="couponStatus" class="form-control" id="couponStatus" required>
        <option value="true">Active</option>
        <option value="false">Inactive</option>
      </select>
      <span id="errorCouponStatus" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Start Date</label>
      <input name="catofrstartdate" type="date" class="form-control" id="catofrstartdate" />
      <span id="errorCatStartDate" class="text-danger"></span>
    </div>
  
    <div class="mb-4">
      <label class="form-label">Expiry Date</label>
      <input name="catofrenddate" type="date" class="form-control" id="catofrenddate" />
      <span id="errorCatExpiryDate" class="text-danger"></span>
    </div>
  
    <div class="text-center">
      <button type="submit" class="btn btn-md rounded font-sm hover-up">Save Offer</button>
    </div>
  </form>
