

      <!--Footer-->
      <footer id="footer" class="footer-2">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <div class="section-header text-center">
                                        <label class="h2"><span>sign up for </span>CRC WORLD</label>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                            </div>
                        </div>
                    </div>
            </div>    
        </div>
        <div class="site-footer">
          <div class="container">
           <!--Footer Links-->
              <div class="footer-top">
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Quick Shop</h4>
                            <ul>
                              <li><a href="">Bat</a></li>
                                <li><a href="">Gadgets</a></li>
                                <li><a href="">Other equpement</a></li>
                                <li><a href="">Sportswear</a></li>
                                <li><a href="">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Informations</h4>
                            <ul>
                              <li><a href="">About us</a></li>
                                <li><a href="">Privacy policy</a></li>
                                <li><a href="">Terms &amp; condition</a></li>
                                <li><a href="">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Customer Services</h4>
                            <ul>
                              <li><a href="">Request Personal Data</a></li>
                                <li><a href="">FAQ's</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Orders and Returns</a></li>
                                <li><a href="">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                          <h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                              <li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                                <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@crcworld.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
            </div>
        </div>
    </footer>




<!-- Including Jquery -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery.cookie.js"></script>
<script src="assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lazysizes.js"></script>
<script src="assets/js/main.js"></script>
<!--For Newsletter Popup-->

    <script>
		jQuery(document).ready(function(){  
		  jQuery('.closepopup').on('click', function () {
			  jQuery('#popup-container').fadeOut();
			  jQuery('#modalOverly').fadeOut();
		  });
		  
		  var visits = jQuery.cookie('visits') || 0;
		  visits++;
		  jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		  console.debug(jQuery.cookie('visits')); 
		  if ( jQuery.cookie('visits') > 1 ) {
			jQuery('#modalOverly').hide();
			jQuery('#popup-container').hide();
		  } else {
			  var pageHeight = jQuery(document).height();
			  jQuery('<div id="modalOverly"></div>').insertBefore('body');
			  jQuery('#modalOverly').css("height", pageHeight);
			  jQuery('#popup-container').show();
		  }
		  if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
		}); 
		
		jQuery(document).mouseup(function(e){
		  var container = jQuery('#popup-container');
		  if( !container.is(e.target)&& container.has(e.target).length === 0)
		  {
			container.fadeOut();
			jQuery('#modalOverly').fadeIn(200);
			jQuery('#modalOverly').hide();
		  }
		});
		
		/*--------------------------------------
			Promotion / Notification Cookie Bar 
		  -------------------------------------- */
		  if(Cookies.get('promotion') != 'true') {   
			 $(".notification-bar").show();         
		  }
		  $(".close-announcement").on('click',function() {
			$(".notification-bar").slideUp();  
			Cookies.set('promotion', 'true', { expires: 1});  
			return false;
		  });
	</script>
<script>
    window.addEventListener('load', function() {
        const loader = document.getElementById('premium-loader');
        if (loader) {
            setTimeout(() => {
                loader.classList.add('loader-hidden');
            }, 500); // Small delay for smooth feel
        }
    });

    // Show helpful message if Render takes too long to wake up
    setTimeout(() => {
        const delayedMessage = document.getElementById('delayed-message');
        const loader = document.getElementById('premium-loader');
        const mainLoaderText = document.getElementById('loader-main-text');
        
        // Only show if the loader is still visible
        if (loader && !loader.classList.contains('loader-hidden')) {
            if (delayedMessage) delayedMessage.style.display = 'block';
            if (mainLoaderText) mainLoaderText.innerText = 'Waking up server...';
        }
    }, 8000); // 8 seconds delay
</script>
