
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CRC_WORLD</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" sizes="16x16" href="assets/images/faviconcopy.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- sweet alert message -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

    
    </head>
    <body class="template-index home2-default">
    <!-- Premium Splash Screen Loader -->
    <style>
        #premium-loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 999999;
            transition: opacity 0.5s ease, visibility 0.5s;
        }

        .loader-logo {
            width: 120px;
            margin-bottom: 30px;
            animation: pulse 2s infinite ease-in-out;
        }

        .spinner-container {
            width: 50px;
            height: 50px;
            position: relative;
        }

        .spinner {
            width: 100%;
            height: 100%;
            border: 3px solid rgba(0, 0, 0, 0.1);
            border-top: 3px solid #000;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        .loader-text {
            margin-top: 20px;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            letter-spacing: 2px;
            color: #333;
            text-transform: uppercase;
            font-weight: 300;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        @keyframes pulse {
            0%, 100% { transform: scale(1); opacity: 1; }
            50% { transform: scale(1.05); opacity: 0.8; }
        }

        .loader-hidden {
            opacity: 0;
            visibility: hidden;
        }
    </style>

    <div id="premium-loader">
        <img src="assets/images/CRC.png" alt="CRC WORLD" class="loader-logo">
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
        <div class="loader-text" id="loader-main-text">Preparing Experience</div>
        <div class="loader-message" id="delayed-message" style="display: none; margin-top: 15px; font-size: 13px; color: #666; font-style: italic; text-align: center; max-width: 80%; line-height: 1.5;">
            The server is waking up from sleep. <br> This may take 30-60 seconds...
        </div>
    </div>
    <div class="pageWrapper">
      <!--Promotion Bar-->
      <div class="notification-bar mobilehide">
          <a href="#" class="notification-bar__message">20% off your very first purchase, use promo code: CrC World</a>
            <span class="close-announcement">×</span>
        </div>
        <!--End Promotion Bar-->
      <!--Search Form Drawer-->
      <!-- <div class="search">
            <div class="search__form">
                    <button class="go-btn search__button" ><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input"  id="search-input" type="text" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
                <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
            </div>
        </div> -->
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                        <div class="currency-picker">
                        </div>
                        <div class="language-dropdown">
                        </div>
                        <p class="phone-no"><i class="anm anm-phone-s"></i> +91 70***********</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-non  d-md-block d-lg-block">
                      <div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                      <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                        <ul class="customer-links list-inline">
                            <% if (UserId) { %>
                              <li><a href="/logout_user">Logout</a></li>
                          <% } else { %>
                              <li><a href="/login">Login</a></li>
                              <li><a href="/register">Create Account</a></li>

                          <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap animated d-flex border-bottom">
          <div class="container-fluid">        
                <div class="row align-items-center">
                  <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="/load_home">
                          <img style="height: 50px" src="assets/images/CRC.png" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                      <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                              <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                      <!--Desktop Menu-->
                      <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu"><a href="/load_home">Home <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/user_shop">Shop <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                 <li class="lvl1 parent megamenu"><a href="/my_orders">My Orders <i class="anm anm-angle-down-l"></i></a>
                                 </li>
                                <li class="lvl1 parent dropdown"><a href="/load_wallet">My wallet<i class="anm anm-angle-down-l"></i></a>
                                </li>
                                  <li class="lvl1 parent dropdown"><a href="/load_aboutus">About Us<i class="anm anm-angle-down-l"></i></a>
                                  </li>
                                </li>
                                 <li class="lvl1"><a href="/user_shop"><b>Buy Now!</b> <i class="anm anm-angle-down-l"></i></a></li>
                              </ul>
                        </nav>  
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                      <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/CRC.png" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">

                          <div class="site-cart">
                            <a  href="/load_usercart"  title="Cart">
                              <i style="font-size: 22px;" class="icon anm anm-bag-l" class="search-trigger"></i>
                              <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">0</span>
                          </a>
                        </div>


                        <div class="site-header__search">
                          <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div>
                        <div class="site-header__search">
                          <a href="/load_wishlist" type="button" class="search-trigger"><i class="bi bi-heart"></i></a>
                        </div>
                        <div class="site-header__search">
                          <a href="/user_Profile" type="button" class="search-trigger"><i class="icon anm anm-user-l"></i></a>
                        </div>


                    </div>
              </div>
            </div>
        </div>
        <!--End Header-->
        
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
        <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
              <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>
            </li>
              <li class="lvl1 parent megamenu"><a href="#">Shop <i class="anm anm-plus-l"></i></a>
            </li>
              <li class="lvl1 parent megamenu"><a href="product-layout-1.html">Product <i class="anm anm-plus-l"></i></a>
              <ul>
                <li><a href="product-layout-1.html" class="site-nav">Product Page<i class="anm anm-plus-l"></i></a>
                </li>
                <!-- <li><a href="short-description.html" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                </li> -->
                <li><a href="#" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                </li>
                <li><a href="#" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                </li>
              </ul>
            </li>
              <li class="lvl1 parent megamenu"><a href="about-us.html">Pages <i class="anm anm-plus-l"></i></a>
            </li>
              <li class="lvl1 parent megamenu"><a href="blog-left-sidebar.html">Blog <i class="anm anm-plus-l"></i></a>
            </li>
              <li class="lvl1"><a href="#"><b>Buy Now!</b></a>
            </li>
          </ul>
      </div>
      <!--End Mobile Menu-->

      <script src="/controllers/usercart_controller.js" defer></script>
<script>
function updatecartcount() {
  console.log("cartfunction is working")
    fetch("/getcart_count") 
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById("CartCount").textContent = data.count; 
            } else {
                console.error("faild to update the cart count :", data.message);
            }
        })
        .catch(error => {
            console.error("error fetching cart count:", error);
        });
}  
updatecartcount() ;
</script>