<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a class="brand-wrap">
      <img src="assets/imgs/theme/LOGO.png" class="logo" alt="CRC-LOGO" />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin_home">
          <i class="icon material-icons md-home"></i>
          <span class="text">HOME..</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/orders_list">
           <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
        </a>
    </li>

      <li class="menu-item">
        <a class="menu-link" href="/dashbord">
          <i class="icon material-icons md-store"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/Addcategory">
          <i class="icon material-icons md-pie_chart"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/brand">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Brands</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/lodadadd_product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Add Product</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin_productlist">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/load_offerlist"> <i class="icon material-icons md-local_offer"></i>
            <span class="text"> Offers</span>
        </a>
    </li>


  <li class="menu-item">
    <a class="menu-link" href="/load_couponlist"> 
        <i class="icon material-icons md-card_giftcard"></i>
        <span class="text"> Coupons</span>
    </a>
</li>
<!-- <li class="menu-item">
  <a class="menu-link" href="/load_couponlist"> 
      <i class="icon material-icons md-confirmation_number"></i>
      <span class="text"> Sample</span>
  </a>
</li> -->



      
    </ul>

    <hr />
    <ul class="menu-aside">
      <li class="menu-item has-submenu">
        <a class="menu-link">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
        <div class="submenu">
          <!-- <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a> -->
        </div>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

